/vendor
/node_modules
.env
.env.*
/bootstrap/cache/*.php
/storage/*.key
/storage/logs
/storage/framework/cache/data
/storage/framework/sessions
/storage/framework/views
/docker/mysql/data
/.idea
/.vscode
